@{
    ViewData["Title"] = "hola";
}

<div class="text-center">
    <h1 class="display-4">holaaaaaaa</h1>
    <h2>
        cambio loco
        <h1> class="display-4">nel pastel caramelo ajjajajaj </h1>
        <p>Todos ustedes mecane mal</p>
        <p> Hola amiguitos</p>
        <p>Orale chavales , hay que drograrse</p>
        <h1> class="display-4">nel Hola . </h1>
        <h1> class="display-4">nel  </h1>
        <h1> class="display-4">sebastian sabe mucho</h1>
        <h1> class="display-4"> jajajaja</h1>

    </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
